apiVersion: apps/v1
kind: Deployment
metadata:
  name: managed-upgrade-operator-test
  namespace: openshift-managed-upgrade-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: managed-upgrade-operator
  template:
    metadata:
      labels:
        name: managed-upgrade-operator
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: node-role.kubernetes.io/master
                operator: In
                values:
                - ""
      containers:
      - name: managed-upgrade-operator
        image: quay.io/devppratik/managed-upgrade-operator:test-latest
        imagePullPolicy: Always
        command:
        - managed-upgrade-operator
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: OPERATOR_NAME
          value: managed-upgrade-operator
        resources:
          limits:
            cpu: 50m
            memory: 200Mi
          requests:
            cpu: 20m
            memory: 100Mi
        volumeMounts:
        - name: trusted-ca-bundle
          mountPath: /etc/pki/ca-trust/extracted/pem
          readOnly: true
      serviceAccountName: managed-upgrade-operator
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      - effect: NoExecute
        key: node-role.kubernetes.io/master
      volumes:
      - name: trusted-ca-bundle
        configMap:
          name: trusted-ca-bundle
          items:
          - key: ca-bundle.crt
            path: tls-ca-bundle.pem
